<h3>DATALAR</h3>
<ul>
    <li>@TempData["UserData"]</li>
    @foreach(var coffee in TempData["coffeeList"] as List<Coffee>)
    {
        <li>@coffee.Name</li>
        <li>@coffee.Brand</li>
        <li>@coffee.Taste</li>
        <img src="@Url.Content(coffee.Image)" alt="IMAGES" />
    }

</ul>