@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers

@*@model g201210007_WebOdev.Models.Account *@
@model IEnumerable<g201210007_WebOdev.Models.Coffee>
<!doctype html>
<html lang="en" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Website Menu #3</title>
</head>

<body class="hero img-fluid" style="background-image: url('https://images.unsplash.com/photo-1542181961-9590d0c79dab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');">
    
    

   <header class="site-navbar " role="banner" style="margin-left:15%" >

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo"><a asp-action="Index" asp-controller="Home" class="text-white mb-0">Kahve Dünyası</a></h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class="active"><a asp-action="Index" asp-controller="Home"><span>Anasayfa</span></a></li>
                            <li><a asp-action="Index" asp-controller="Home"><span>Kahvelerimiz</span></a></li>
                            <li><a asp-action="Index" asp-controller="Home"><span>Hakkımızda</span></a></li>
                            <li><a asp-action="Index" asp-controller="Home"><span>Bize Ulaşın</span></a></li>
                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            </div>

        </div>

    </header>
    <div class="hero img-fluid" style="background-image: url('https://images.unsplash.com/photo-1542181961-9590d0c79dab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');"></div>
    
    <main role="main">

        

        <div class="album py-5 bg-light" style="border-radius:0px">
            <div class="container" >
                <div class="row" style="text-align:center; align-content:center;padding:10px 15px 10px 15px;">
                    <h5 class="text-decoration-underline" style="font-family:Corbel;font-size:xxx-large;" >Kahve Çeşitleri</h5>
                </div>
                <div class="row" >
                @{
                        foreach (var coffee in TempData["coffeeList"] as List<Coffee>)
                    {

                                @*<var Name="sss" data="@coffee.Name"></var>*@
                        <div class="col-md-4" style="text-align:center; align-content:center;padding:10px 15px 10px 15px;">
                            <form class="row" asp-action="Index" asp-controller="Coffee" method="post">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top img-fluid" src="@coffee.Image" alt="Card image cap">
                                        <div class="card-body align-content-center" >
                                    <div style="font-size:x-large;color:#3A281C">
                                                <p class="card-text" name="isim" style="font-family:Corbel;color:black;font-size:xx-large">@coffee.Name</p>
                                    </div>
                                    <div>
                                                <p class="card-text" style="">@coffee.Brand</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center" >
                                        <div class="btn-group" style="margin-left:40%">
                                                <button name="id" value="@coffee.Id" class="btn btn-sm btn-outline-secondary" >Detaylar</button>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            </form>
                        </div>
                    }
                }

                                
                   
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>


@*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/boostrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="text-center">
        <h3>DATALAR</h3>
        <h3>@TempData["UserData"]</h3>
        <h3>Datalar</h3>
        <h3>@TempData["Us"]</h3>
        <div class="row row-cols-1 row-cols-md-3 g-1" style="margin: auto;padding-left:2%;padding-right: 2%;">

            @{
            
            foreach (var coffee in TempData["coffeeList"] as List<Coffee>)
            {
          <div class="col " style="min-width:min-content;padding:1%">
            <div class="card" style="width: 90%;margin:auto;padding:3%">
                <img class="card-img-top" src="@coffee.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">coffee.Name</h5>
                    <h3 class="card-title">coffee.Brand</h3>
                    <p class="card-text">coffee.Taste</p>
                    <a href="#" class="btn btn-primary">Detaylar</a>
                </div>
            </div>
            </div>
            }
        }
    </div>
    </div>
</body>
</html>

*@