@*@model IEnumerable<g201210007_WebOdev.Models.Coffee>*@
@model List<g201210007_WebOdev.Models.Coffee>


<!doctype html>
<html lang="en" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="hero img-fluid" style="background-image: url('https://images.unsplash.com/photo-1542181961-9590d0c79dab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');">





    <header class="site-navbar " role="banner" style="margin-left:15%">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo"><a asp-action="Index" asp-controller="Home" class="text-white mb-0">Kahve Dünyası</a></h1>
                </div>
                <div class="col-12 col-xs-1 col-md-10 d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class="active"><a asp-action="Index" asp-controller="Home"><span>Anasayfa</span></a></li>
                            <li><a asp-action="Products" asp-controller="Coffee"><span>Kahvelerimiz</span></a></li>
                            <li><a asp-action="Index" asp-controller="Aboutus"><span>Hakkımızda</span></a></li>
                            <li><a asp-action="Index" asp-controller="Profile"><span><img style="max-height:30px" src="/profile.png" /><b> @User.Claims.ToList()[1].Value.ToString()</b></span></a></li>
                            <li><a asp-action="Logout" asp-controller="Home"><span><img style="max-height:30px" src="/loguot.png" /><b>Çıkış Yap</b></span></a></li>
                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            </div>

        </div>

    </header>


    <main role="main" style="padding-top:10%;border:medium;border-radius:10px" >


        @*Kahve Sil*@
        <div class="album py-5 bg-light" style="border-radius:0px;">
            <div class="container" >
                <div>
                    <h4>
                        <b>Merhabalar, </b>@User.Claims.ToList()[1].Value.ToString()
                    </h4>

                    <h3>@User.Claims.ToList()[0].Value.ToString()</h3>
                    <h5>Bu alandan Kahve Silebilirsiniz.</h5>
                </div>
                <div class="row" >
                    
                    <table class="table">
                    <thead>
                    <tr>
                    <th scope="col">id</th>
                    <th scope="col">Coffee Name</th>
                    <th scope="col">Coffee Brand</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Brand</td>

                    </tr>
                    }
                    </tbody>
                    </table> 
                    <form asp-action="AdminPanel" asp-controller="Profile" method="post">
                        <div class="row mx-sm-3 mb-2">
                            <div class="col-8">
                                <input type="text" name="Id" class="form-control form-control-lg col-8" placeholder="Silmek istediğiniz kahvenin Id'sini giriniz." />
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary col-4">Sil</button>
                            </div>    
                        </div>
                        
                    </form>


                </div>
            </div>
        </div>


        @*
        <div class="album py-5 bg-light" style="border-radius:0px;">
            <div class="container">
                <div class="row">

                    <form asp-action="AdminPanel" asp-controller="Profile" method="post">
                        <div class="row mx-sm-3 mb-2">
                            <div class="col-8">
                                <input type="text" name="search" class="form-control form-control-lg col-8" placeholder="Aramak istediğiniz ifadeyi giriniz" />
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary col-4">Sil</button>
                            </div>
                        </div>

                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Coffee Name</th>
                                <th scope="col">Coffee Brand</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Name</td>
                                    <td>@item.Brand</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                        

                </div>
            </div>
        </div>
        *@

        @*kahve ekleme*@
        <div class="album py-5 bg-light" style="border-radius:0px;">
            <div class="container" >
                <div>
                    <h5>Bu alandan kahve ekleyebilirsiniz.</h5>
                </div>
                <div class="row" >
                    <form asp-action="AdminCoffeeAdd" asp-controller="Profile" method="post">
                    
                    <table class="table">
                    <thead>
                    <tr>
                    <th scope="col">Kahve İsmi</th>
                    <th scope="col">Kahve Markası</th>
                    <th scope="col">Tadım Notları</th>
                    <th scope="col">Kahve Fotoğrafı</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <th scope="row">
                        <input type="text" name="Name" class="form-control form-control-lg" />
                    </th>
                    <td>
                        <input type="text" name="Brand" class="form-control form-control-lg" />
                    </td>
                    <td>
                        <input type="text" name="Taste" class="form-control form-control-lg" />
                    </td>
                    <td>
                        <input type="text" name="Image" class="form-control form-control-lg" />
                    </td>

                    </tr>
                    
                    </tbody>
                    </table> 
                        <div class="row mx-sm-3 mb-2">
                            <div class="col-4">
                                <button class="btn btn-primary col-4">Kaydet</button>
                            </div>    
                        </div>
                        
                    </form>


                </div>
            </div>
        </div>


       
        @*yorum silme*@
        <div class="album py-5 bg-light" style="border-radius:0px;">
            <div class="container">
                <div>
                    <h5>Bu alandan herhangi bir kullanıcıdan gelmiş herhangi bir yorumu silebilirsiniz.</h5>
                </div>
                <div class="row">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> id</th>
                                <th scope="col">Coffee Name</th>
                                <th scope="col">Coffee Comment ID</th>
                                <th scope="col">Coffee Comment</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model as List<Coffee>)
                        {
                            if (item.Comments != null && Model != null)
                            {
                                int comId = 0;
                                foreach (var com in item.Comments)
                                {
                                    
                                        <tbody>
                                            <tr>
                                                <th scope="row">@item.Id</th>
                                                <td>@item.Name</td>
                                                <td>@comId</td>
                                                <td>@com</td>
                                            </tr>
                                        </tbody>
                                    
                                    comId += 1;
                                }
                            }

                        }
                    </table>
                    <form asp-action="deleteComment" asp-controller="Profile" method="post">
                        <div class="row mx-sm-3 mb-2">
                            <div class="col-4">
                                <input type="text" name="Id" class="form-control form-control-lg col-8" placeholder="Silmek istediğiniz yorumun Kahve Id'siini giriniz." />
                            </div>
                            <div class="col-4">
                                <input type="text" name="comId" class="form-control form-control-lg col-8" placeholder="Silmek istediğiniz yorumun Id'siini giriniz." />
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary col-4">Sil</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        
    </main>


    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Sayfa başına dön</a>
            </p>
            </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>




